<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Navbar</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        h1 {
            text-align: center;
            font-size: 42px;
            padding: 10%;
            font-weight: bold;
            color: aliceblue;
            text-transform:capitalize;
            text-shadow: black;
            
        
        }
    </style>
</head>

<body>
    <div>

        <nav class="navbar">
            <div class="navbar-left">
                <a href="/LeaveManagementSystem_V2/frontend/layouts/layout_with_topnav.html" class="menu-item">UnicomTic</a>
            </div>
            <div class="navbar-right">
                <a href="../views/Employees/index.html" class="menu-item">Employee</a>
                <div class="dropdown">
                    <button class="dropbtn">Leave Management</button>
                    <div class="dropdown-content">
                        <a href="../views/LeaveRequest/LeaveRequest.html">Apply Leave</a>
                        <a href="../views/LeaveRequest/ManagerLeaveManagement.html">Manage Leave</a>

                    </div>
                </div>
            </div>
        </nav>
        <h1>Welcome To Leave Management System</h1>
    </div>
    <main>

    </main>

</body>

</html>